@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root{
    --dark-gray: #1a2a32;
    --gray: #2e4756;
    --turquoise: #3cc4bf;
    --yellow: #f2b147;
    --light-gray: #d3d3d3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    border: none;
}

html,
body{
    height: 100%;
    background-color: var(--dark-gray);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;

    grid-template-columns: 80px 80px 80px;
    /* grid-template-columns: repeat(3,80px); */
    grid-template-rows: 50px 80px 80px 80px 60px;
    /* grid-template-rows: 50px repeat(3,80px) 60px; */

    gap: 5px;
}

@media (min-width: 768px){
    .grid {
      width: 490px;
      grid-template-columns: 150px 150px 150px;
      grid-template-rows: 50px 150px 150px 150px 60px;
      gap: 20px;
    }
}

.turn{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
}

.square{
    background-color: var(--gray);
}

.score{

}

.score-1{
    background-color: var(--turquoise);
}

.score-2{
    background-color: var(--light-gray);
}

.score-3{
    background-color: var(--yellow);
}

/* footer */

footer{
    color: white;
    margin-top: 50px;
}
  
footer p{
    margin-top: 10px;
    text-align: center;
}
  
footer a{
    color: var(--yellow);
}