@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root{
    --dark-gray: #1a2a32;
    --gray: #2e4756;
    --turquoise: #3cc4bf;
    --yellow: #f2b147;
    --light-gray: #d3d3d3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    border: none;
}

html,
body{
    height: 100%;
    background-color: var(--dark-gray);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button:hover{
    cursor: pointer;
    opacity: 90%;
    border: 1px solid white;
    border-radius: 10px;
}

.grid{
    display: grid;

    grid-template-columns: 80px 80px 80px;
    /* grid-template-columns: repeat(3,80px); */
    grid-template-rows: 50px 80px 80px 80px 60px;
    /* grid-template-rows: 50px repeat(3,80px) 60px; */

    gap: 5px;
}

@media (min-width: 768px){
    .grid {
      width: 490px;
      grid-template-columns: 150px 150px 150px;
      grid-template-rows: 50px 150px 150px 150px 60px;
      gap: 20px;
    }
}

.turn{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: var(--turquoise);
}

.turn i{
    animation: 0.6s ease-in-out;
}

.turn p{
    animation: 0.6s ease-in-out;
}

.actions{
    position: relative;
    display: flex;
    flex-direction: column;
}

.actions i{
    color: var(--light-gray);
}

.actions button{
    margin: 0px;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    font: inherit;
}

.actions-button{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;

    border: 0.5px solid var(--light-gray);
    border-radius: 10px;
}

.hidden{
    /* display: none; */
    z-index: 10;
}

.hidden button{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin: 0;
}

.reset-button{
    top: 50px;
}

.new-round-button{
    top: 100px;
}

.square{
    background-color: var(--gray);

    box-shadow: 
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    border: 1px solid rgba(211, 211, 211, 0.4);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover{
    cursor: pointer;
    opacity: 70%;
}

.score{
    box-shadow: 
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    border: 1px solid rgba(211, 211, 211, 0.4);
    border-radius: 10px;

    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score:hover{
    cursor: pointer;
    opacity: 70%;
}

.first-p{
    font-weight: 600;
}

.second-p{
    font-weight: 400;
}

.score-1{
    background-color: var(--turquoise);
}

.score-2{
    background-color: var(--light-gray);
}

.score-3{
    background-color: var(--yellow);
}

/* footer */

footer{
    color: white;
    margin-top: 50px;
}
  
footer p{
    margin-top: 10px;
    text-align: center;
}
  
footer a{
    color: var(--yellow);
}

.x-style {
    color: #3cc4bf; /* X rengi */
    font-size: 2em; /* X boyutu */
    font-weight: bold; /* X kalınlığı */
    text-align: center; /* X hizalaması */
    line-height: 2em; /* X yüksekliği */
}

.o-style {
    color: #f2b147; /* O rengi */
    font-size: 2em; /* O boyutu */
    font-weight: bold; /* O kalınlığı */
    text-align: center; /* O hizalaması */
    line-height: 2em; /* O yüksekliği */
}